.container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-d-1);
    margin-top: 200%;
}
.header {
    width: 100%;
    min-height: 46px;
    height: 8.09vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px 0px 20px;  
    background-color: var(--main-d-1);  

    div:first-of-type {
        display: flex;
        align-items: center;
    }

    img {
        min-height: 24px;
        min-width: 24px;
        width: 7.5vw;
        height: 4.22vh;
    }
    h1 {
        margin-left: 14px;
        font-family: Roboto;
        font-size: 0.875rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--on-surface-high-emphasis);
    }
}
.list {
    overflow-y: scroll;
    overscroll-behavior: contain;
    height: calc(100% - 46px);
    
}
.itemListContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: 11.26vh;
    min-height: 64px;
    background-color: var(--main-d-1);
    border-bottom: 1px solid rgba(245, 245, 245, .2);

    div:first-of-type {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        min-width: 32px;
        min-height: 32px;
        width: 10vw;
        height: 5.63vh;
        object-fit: contain;
    }

}
.userInfo {
    display: flex;
    flex-direction: column;
    margin-left: 12px;

    h1 {
        margin-bottom: 4px;
        font-family: Roboto;
        font-size: 0.75rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--on-surface-high-emphasis);
    }
    h2 {
        align-self: flex-start;
        font-family: Roboto;
        font-size: 0.75rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--on-surface-mid-emphasis);
    }
}
.handleFollow {
    width: 27.50vw;
    max-width: 150px;
    height: 26px;
    border-radius: 13px;
    display: flex;

    h1 { 
        margin: auto;
        font-family: Roboto;
        font-size: 0.75rem;
        font-weight: bold;
        font-stretch: condensed;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.6px;
        text-align: center;
    }
}
.following {
    @extend .handleFollow;
    border: solid 2px var(--primary-default);
    background-color: transparent; 
    h1 {
        color: var(--on-surface-high-emphasis);
    }
}
.follow {
    @extend .handleFollow;
    h1 { 
        color: var(--main-default);
    }
    background-color: var(--primary-default);
}

@keyframes fadeIn {
to { 
    margin-top: 0px;
    opacity: 1;
    height: 100%;
}
}
@keyframes fadeOut {
    0% {margin-top: 0% }
    60% {opacity: 1; 
    height: 50%; }
    90% { height:  25%;}
    95% {opacity: 0 }
    100% { 
        opacity: 0;
        margin-top: 79vh;
        height: 0%;
    }
}